<div class="container">
    <div class="row">
        <div class="col-lg-3" style="background-color: orange;">
            <h4>ジャンルを入れる</h4>
            </div>
            
        <div class="col-lg-9">
         <div class="parent">
           <%= image_tag 'reserve.png', size: "500x300" %>
            <img src="images/reserve.png" />
            <p>サンプル</p>
            </div>
            <!--bootstrap 反応しない-->
         <div class="card" style="max-width: 400px;">
         <img class="card-img" src="reserve.png" alt="">
          <div class="card-img-overlay">
         <p class="text-white">ここにテキストが入ります。</p>
          </div>
         </div>
         
         <h4>新着商品</h4>
         <div class="item-wrap">
             <% @items.each do |item| %>
             <div class="item-box">
                 <%= image_tag item.image, size: "200x300" %>
                 <% end %>
             <%= paginate @items %>
             
             </div>     
          </div>
        </div>
    </div>
</div>