<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <h4></h4>
            </div>
            
        <div class="col-lg-9">
         <div class="parent">
          
    　　</div>
            <!--bootstrap 反応しない-->
         <div class="background-new" style="">
         <img class="card-img" src="reserve.png" alt="">
          <div class="card-img-overlay">
         <p class="text-white">
          <br>
          ようこそ、ながのCAKEへ！<br>
          このサイトでは、ケーキ販売のECサイトになります。<br>
          会員でない方も商品の閲覧はできますが、<br>
          購入には会員登録が必要になります。<br>
         </p>
          </div>
         </div>
         <div class="container">
    </div>
         <h4>新着商品</h4>
         <div class="item-wrap row">
             <% @items.each do |item| %>
              <div class="item-box col-lg-3">
                <div><%= image_tag item.image, size: "200x200" %></div>
                <div><%= link_to item.name, item_path(item.id) %></div>
                <div>¥<%= item.price %>-</div>
              </div>
                 <% end %>
                 <%= paginate @items %>
          </div>
        </div>
    </div>
</div>