<h4>ジャンル一覧・追加</h4>
    
 <%= form_with model: [:admin,@genre] do |f| %>
  <div>ジャンル名</div>
  <%= f.text_field :title %>
  <%= f.submit '新規登録' %>
 <% end %> 

 <% @genres.each do |genre| %>
  <div><%= genre.name %></div>
 <% end %> 
 