 <div class="container">
    <div class="row">
        <div class="col-lg-3">
           <p>ジャンル検索</p>
            <% @genres.each do |genre| %>
            <%= link_to genre.name,genre_path(genre) %><br>
            <% end %>
        </div>