<body>
    <div class="container">
        <div class="row">
            <div class="col-auto mx-aout">
                <h2 class="text-center">ご注文ありがとうございました</h2>
            </div>
        </div>
    </div>
</body>




<body>
 <div class="container">
  <div class="row">
   <div class="col-auto mx-auto">
    <h2 class="text-center">ご注文ありがとうございました</h2>
   </div>
  </div>
 </div>
</body>